div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#box1{
    background-image: url("bird1_photo.jpg.jpg");
    background-size:cover
}
#box2{
    background-image:url("dog_photo.jpg.jpg") ;
    background-size: cover;
}
/*background size - cover,contain [no-repeat],auto*/