div{
    height: 100px;
    width: 100px;
    background-color: pink;
}
@media (width:600px)
{
    div{
        background-color: red;
    }
}
/*min-width and max-width*/
@media(min-width:600px){
    div{
        background-color: green;
    }
}
@media(min-width:200px) and (max-width:400px){
    div{
        background-color: blue;
    }
}