div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    display: inline-block;
}
#box1{
    position: static;
    top: 50px;
    bottom: 30px;
}
/*static - bydefault*/
#box2{
    position: relative;
    top: 10px;
    left: 20px;
    z-index:3;
}
/*relative - relative to top ,right,left,bottom ,z-indext will work.it is relative to itself */
#box3{
    position:sticky;
    top: 30px;

}
/*absolute - position relative to that ancestor*/
#box4{
    position: fixed;
    right:560px;
    bottom: 100px;
    top: 0px;
}
/* fixed - to create navbar in fixed position*/
/*sticky - fixed position
z-index -not valid for static position =  -1=bottom , 0=betwwen , 1= top*/